In [287]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression

In [5]:
train = pd.read_csv("C:/Users/HP/Downloads/train.csv")

In [26]:
test = pd.read_csv("C:/Users/HP/Downloads/test.csv")

In [27]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [259]:
train["Age"].fillna(int(train["Age"].mean()), inplace=True)

In [260]:
train.drop("Cabin", axis=1,inplace=True)

In [265]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 83.3+ KB

In [224]:
X_test = test[["PassengerId", "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]

In [238]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [235]:
X_test["Age"].fillna(int(X_train["Age"].mean()), inplace=True)

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [237]:
X_test["Fare"].fillna(X_train["Fare"].mean(), inplace=True)

In [31]:
X_test = X_test.set_index("PassengerId")

In [32]:
X_test.Sex = X_test.Sex.replace(to_replace=['male', 'female'], value=[1, 0])

In [6]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [226]:
X_train = train[["PassengerId", "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]

In [242]:
X_train.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1       3    1  22.0      1      0   7.2500         2
1            2       1    0  38.0      1      0  71.2833         0
2            3       3    0  26.0      0      0   7.9250         2
3            4       1    0  35.0      1      0  53.1000         2
4            5       3    1  35.0      0      0   8.0500         2

In [241]:
le = LabelEncoder()
for col in ['Sex', 'Embarked']:
    X_train[col] = le.fit_transform(X_train[col])

<ipython-input-241-5c6878a69add>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = le.fit_transform(X_train[col])

In [243]:

for col in ['Sex', 'Embarked']:
    X_test[col] = le.fit_transform(X_test[col])

<ipython-input-243-87efb321765d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = le.fit_transform(X_test[col])

In [233]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Pclass       889 non-null    int64
 2   Sex          889 non-null    object
 3   Age          889 non-null    float64
 4   SibSp        889 non-null    int64
 5   Parch        889 non-null    int64
 6   Fare         889 non-null    float64
 7   Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 62.5+ KB

In [230]:
X_train["Age"].fillna(int(X_train["Age"].mean()), inplace=True)

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [262]:
train.dropna(axis=0, inplace=True)

In [11]:
X_train.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0            1       3    male  22.0      1      0   7.2500
1            2       1  female  38.0      1      0  71.2833
2            3       3  female  26.0      0      0   7.9250
3            4       1  female  35.0      1      0  53.1000
4            5       3    male  35.0      0      0   8.0500

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Sex          891 non-null    object
 3   Age          891 non-null    float64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.9+ KB

In [13]:
X_train["Age"].mean().round()

AttributeError: 'float' object has no attribute 'round'

In [244]:
X_train

     PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0              1       3    1  22.0      1      0   7.2500         2
1              2       1    0  38.0      1      0  71.2833         0
2              3       3    0  26.0      0      0   7.9250         2
3              4       1    0  35.0      1      0  53.1000         2
4              5       3    1  35.0      0      0   8.0500         2
..           ...     ...  ...   ...    ...    ...      ...       ...
886          887       2    1  27.0      0      0  13.0000         2
887          888       1    0  19.0      0      0  30.0000         2
888          889       3    0  29.0      1      2  23.4500         2
889          890       1    1  26.0      0      0  30.0000         0
890          891       3    1  32.0      0      0   7.7500         1

[889 rows x 8 columns]

In [245]:
X_train = X_train.set_index("PassengerId")

In [21]:
X_train.Sex = X_train.Sex.replace(to_replace=['male', 'female'], value=[1, 0])

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [246]:
X_train.index.name = None

In [17]:
y_train = train[["PassengerId", "Survived"]]

In [247]:
X_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
1       3    1  22.0      1      0   7.2500         2
2       1    0  38.0      1      0  71.2833         0
3       3    0  26.0      0      0   7.9250         2
4       1    0  35.0      1      0  53.1000         2
5       3    1  35.0      0      0   8.0500         2

In [250]:
X_test = X_test.set_index("PassengerId")

In [251]:
X_test.index.name = None

In [267]:
y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 889, dtype: int64

In [266]:
y_train = train["Survived"]

In [97]:
y_train.index.name = None

In [19]:
from sklearn.ensemble import RandomForestClassifier

AttributeError: 'function' object has no attribute 'to_numpy'

# Лес деревьев

In [180]:
rf = RandomForestClassifier()

In [204]:
parameters = {"n_estimators" : range(5, 100), "max_depth" : range(2, 30, 2)}

In [269]:
parameters = {"n_estimators": range(10,51,10), "max_depth" : range(1,12,2), "min_samples_leaf" : range(1,8), "min_samples_split": range(2,9,2)}

In [252]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [270]:
grid_search_cv_clf = RandomizedSearchCV(rf, parameters, cv = 5, n_jobs=-1)

In [271]:
grid_search_cv_clf.fit(X_train, y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
                   param_distributions={'max_depth': range(1, 12, 2),
                                        'min_samples_leaf': range(1, 8),
                                        'min_samples_split': range(2, 9, 2),
                                        'n_estimators': range(10, 51, 10)})

In [272]:
grid_search_cv_clf.best_params_

{'n_estimators': 40,
 'min_samples_split': 8,
 'min_samples_leaf': 6,
 'max_depth': 11}

In [273]:
grid_search_cv_clf.score(X_train,y_train)

0.8627671541057368

In [274]:
prediction = grid_search_cv_clf.predict(X_test)

In [88]:
X_test.info()
X_test.index.name = None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   SibSp   418 non-null    int64
 4   Parch   418 non-null    int64
 5   Fare    418 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 22.9 KB

In [73]:
xxx = X_test.head()

In [275]:
best_tree = grid_search_cv_clf.best_estimator_

In [276]:
fdf = pd.DataFrame({"features": list(X_train),
                     "feature_importances" : best_tree.feature_importances_})

In [277]:
fdf.sort_values("feature_importances", ascending=False)

   features  feature_importances
1       Sex             0.444697
5      Fare             0.213720
2       Age             0.124397
0    Pclass             0.117514
3     SibSp             0.037496
6  Embarked             0.034951
4     Parch             0.027224

In [278]:
predictions = grid_search_cv_clf.predict(X_test)

In [279]:
predictions

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [289]:
predictions = pd.DataFrame(prediction)

In [290]:
predictions = predictions.set_index(X_test.index)

In [291]:
predictions = predictions.rename(columns = str)
predictions = predictions.rename(columns = {"0" : "Survived"})
predictions

      Survived
892          0
893          0
894          0
895          0
896          1
...        ...
1305         0
1306         1
1307         0
1308         0
1309         0

[418 rows x 1 columns]

In [292]:
predictions = predictions.reset_index().rename(columns = {"index" : "PassengerId"}).set_index("PassengerId")

In [293]:
predictions

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 1
...               ...
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [197]:
df = pd.DataFrame(data = predictions, columns =["PassengerId", "Survived"])

In [199]:
df

             PassengerId  Survived
PassengerId
892                  NaN         0
893                  NaN         0
894                  NaN         1
895                  NaN         0
896                  NaN         1
...                  ...       ...
1305                 NaN         0
1306                 NaN         1
1307                 NaN         0
1308                 NaN         0
1309                 NaN         0

[418 rows x 2 columns]

In [80]:
df=df.set_index("PassengerId")

In [294]:
predictions.to_csv("C:/Users/HP/Downloads/prediction5.csv")

In [45]:
rf.score(X_train, y_train)

ValueError: multiclass-multioutput is not supported

# log regression

In [288]:
lr = LogisticRegression(max_iter=10000)
lr.fit(X_train, y_train)
prediction = lr.predict(X_test)